<h2>Contact GameShop</h2>
<p>If you have any questions, please don't hesistate to get in touch. Click below to send us an email.</p>
<email address="info@@thegameshop.com" content="Contact Us"></email>